:root {
  --color-default: var(--sl-color-neutral-700);

  /*
  --layout-section-padding: ;
  --layout-container-max-width: ;
  --layout-container-padding: ;
  --layout-grid-gap: ;
  --layout-row-gap: ;
  --layout-stack-gap: ;
  */
}