.o-main {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-3x-large);
}
@media (max-width: 799px) {
  .c-main {
    padding: var(--sl-spacing-large) 0;
    gap: var(--sl-spacing-large);
  }
}